html {
  font-family: "Roboto";
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

.banner {
  position: relative;
  text-align: left;
  max-height: 500px;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  max-width: 50em;
  width: 100%;
  color: #fff;
  padding: 0 1rem;
  transform: translateX(-50%);
  display: flex;
  left: 50%;
  top: 50%;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 45em;
  top: 50%;
}

h2 {
  line-height: 1.2;
  color: #000;
  font-size: 3em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  margin: 0 0 .5rem;
}

div h2 {
  font-size: 4rem;
  display: inline;
}

p {
  text-align: left;
  padding: .5em 0.75;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #000;
}


a{
  font-size: 1.125rem;
  color: #fff;
  border-radius: 8px;
  color: #fff;
  display: inline: block;
  background-color: #333;
  padding: .5em .8em .57em;
}

.btn{
  color: #fff;
  border-radius: 8px;
  background-color: #333;
  text-decoration: none;
  display: inline-block;
  border: 3px solid #333;
}

.graphic{
  width: 33%
}

}
.img-flex {
  display: block;
  width: 100%;
}

.logo {
  align-items: flex-start;
  width: 33%;
}

a:hover {
  background-color: #fff;
}
